

/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,400,600,700,900&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

body {
     background: #fff;
     color: #f8b9ba;
     font-size: 14px;
     font-family: 'Raleway', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

.container {
     max-width: 1172px;
}

a {
     color: #a77880;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,h2,h3,h4,h5,h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #090909;
     margin: 0;
}

h1 {
     font-size: 24px;
     font-family: "Merriweather";
}

h2 {
     font-size: 22px;
}

h3 {
     font-size: 18px;
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
     color: #fff;
     text-decoration: none!important;
     opacity: 1
}

.text-bg h1 {
     color: #a77880;
     font-size: 90px;
     line-height: 110px;
     font-weight: bold;
     font-family: "Merriweather";
}

/*alterei cor, tamanho, fonte*/
.text-bg span {
     line-height: 30px;
     padding-bottom: 20px;
     display: block;
     color: #d6a0be;
     font-family: "Noto Serif";
     font-size: 40px;
     font-weight: 60px;
}

button:focus {
     outline: none;
}

ul,li,ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin-top: 5px;
     margin-bottom: 15px;
     font-weight: bold;
     font-size: large;
     line-height: 24px;
     color: #f47879;
}

span {
     margin-top: 2px;
     font-weight: 500;
     font-size: 25px;
     line-height: 25px;
     color: #af979b;
     font-family: "Varela Round";
}

a,.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
     color: #fff;
}

a:hover {
     color: #f9cfcf;
}

.mensagemCabecalho {
     color: #a77880;
     font-size: 20px;
     margin-top: 10px;
}

img {
     max-width: 100%;
     height: auto;
     border-radius: 5px;
}

/*logo header*/
.logo1 {
     width: 100px;
     text-align: left;
     display: block;
     color: #a77880;
}

/*foto header*/
.foto1 {
     width: 600px;
     height: 800px;
     margin-left: 50px;
}

.semMargem {
     margin: 0;
}

.icon1 {
     width: 40px;
     height: 40px;
     color: #a77880;
     margin-top:10px;
     padding: 2px;
     margin-bottom: 1px;;
}

.icon2 {
     height: 40px;
     color: #a77880;
     margin-top:10px;
     padding: 2px;
     margin-bottom: 1px;
}

.social-media{
     width: 110px;
     display: block;
}

.social-media li {
     display: block;
    float: left;
}
.social-media a {
     display: block;
     float: left;
     width: 50px;
}

/*configuracoes titulos servicos e sobre mim*/

.titlepage {
     text-align: left;
     padding-bottom: 60px;
     padding-top: 30px;;
     font-size: 50px;
     color: #a77880;
}

.titlepage h2 {
     font-size: 40px;
     color: #f47879;
     line-height: 45px;
     font-weight: bold;
     padding: 0;
     display: block;
     text-transform: uppercase;
     margin-top: 150px;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.read_more {
     font-size: 25px;
     color: #fff !important;
     text-align: left;
     display: inline-block;
     border-radius: 10px;
     font-weight: 500;
     position: relative;
     padding: 0;
     line-height: 1px;
     max-width: 140px;
     width: 100%;
}

.read_more::before {
     position: absolute;
     content: "";
     top: 1px;
     border-right: #ddd solid 1px;
     border-width: 90px;
     height: 1px;
     right: -111px;
}

/** about section **/
.about {
     padding-top: 90px;
     background-color: #f4f4f2;
}

.about .titlepage {
     text-align: left;
     padding-bottom: 30px;
}

.about_img {
     padding-right: 20px;
}

.about_img figure {
     margin: 0;
}

.about_img figure img {
     width: 100%;
}

.about_box {
     text-align: left;
     max-width: 668px;
     width: 100%;
     float: right;
}

.about_box h3 {
     padding: 0;
     line-height: 30px;
     text-transform: uppercase;
}

.about_box span {
     line-height: 30px;
     padding-top: 10px;
     text-transform: uppercase;
     display: block;
}

.try {
     float: left;
}

.about_box p {
     padding-top: 10px;
     line-height: 30px;
     text-align: left;
     display: inline-block;
}

.margin_bottom2 {
     margin-bottom: 30px;
}

.about .read_morea {
     margin-top: 7px;
     padding: 8px 0;
     margin-left: 40px;
     background-color: #a77880;
     max-width: 168px;
     width: 100%;
     display: inline-block;
     text-align: center;
     font-size: 18px;
     color: #fff;
     font-weight: 600;
}

.about .read_morea i {
     padding-left: 5px;
}

.about .read_morea:hover {
     background-color: #000;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin-top: 10px;
     padding: 2px;
     cursor: pointer;
     border-radius: 5px;
     background-color: #f47879;
     width: 529px;
     height: 65px;
}

.full {
     float: left;
     width: 100%;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}
/**-- heading section --**/
/*---------------------------- preloader area ----------------------------*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: block;
     justify-content: center;
     align-items: center;
     background-color: #fff;
}

.loader img {
     width: 3000px;
     height: 500px;
     margin-top: 150px;
}

.loader p {
     color: #f47879;
     font-size: 60px;
     margin-top: 330px;
     margin-left: 50px;
}

.loader span {
     color: #a77880;
     font-size: 40px;
     margin-left: 50px;
}

ul.btn {
     float: right;
}

ul.btn li {
     display: inline-block;
     padding: 0 25px;
}

ul.btn li a {
     color: #fff;
     font-size: 16px;
}

ul.btn li:last-child {
     padding-right: 0;
}
/*-- header area --*/
/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/
/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/
.header {
     width: 100%;
     background: #a77880;
     height: 40px;
     font-size: 14px;
     transition: all 0.5s;
     color: #ddddd8;
     padding: 0;
     display: block;
}

/*faixa acima do cabecalho com logo*/
.header_to {
     background-color: #fff;
     padding: 2px;
     width: 100%;
     position: fixed;
     z-index: 10;
}

ul.lan li i {
     padding-right: 5px;
}

ul.lan li {
     float: left;
     color: #fff;
     font-weight: 500;
     font-size: 17px;
}

.select-box {
     cursor: pointer;
     position: relative;
     max-width: 100px;
     display: flex;
     width: 100%;
     flex-wrap: wrap;
}

.select,
.label {
     color: #fff;
     display: block;
     font-size: 16px;
}

.select {
     width: 100%;
     position: absolute;
     top: 0;
     padding: 5px 0;
     opacity: 0;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
     background: none transparent;
     border: 0 none;
}

.select-box1 {
     border-radius: 30px;
}

.label {
     position: relative;
     padding: 0px 23px 0px 9px;
     cursor: pointer;
     margin-bottom: 0;
}

.open .label::after {
     content: "▲";
}

.label::after {
     content: "▼";
     font-size: 15px;
     position: absolute;
     right: -3px;
     top: 5px;
     background: #f8b8b8;
     width: 20px;
     height: 21px;
     line-height: 15px;
     text-align: center;
     padding-top: 3px;
}

ul.social_icon1 {
     display: flex;
     justify-content: flex-end;
     flex-wrap: wrap;
}

ul.social_icon1 li {
     height: 30px;
     color: #fff;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     padding-right: 15px;
}

ul.social_icon1 li a {
     color: #fff;
     float: left;
     text-align: center;
     line-height: 31px;
     border-radius: 100%;
     font-size: 20px;
}

ul.social_icon1 li:last-child {
     padding-right: 0px;
}

/*box cabecalho com logo*/ 
.header_midil {
     background-color: #a77880;
     width: 100%;
     padding: 45px 0;
}

.d_none1 {
     text-align: right;
}

ul.icon li {
     display: inline-block;
}

ul.icon li a i {
     padding-right: 5px;
     color: #a77880
}

/*altera cor do telefone, email do cabecalho*/
ul.icon li a {
     color: #fff;
     font-size: 16px;
     font-weight: 600;
     font-family: "Noto Serif";
}

ul.icon li a:hover {
     color: #a77880;
     text-decoration: underline !important;
}

.search {
     padding: 24px 0;
     text-align: right;
}

.form_sea {
     border: #fff solid 1px;
     padding: 0px 15px;
     color: #000;
     height: 40px;
     position: relative;
     width: 100%;
     font-size: 17px;
}

.seach_icon {
     position: absolute;
     margin-left: -30px;
     z-index: 999;
     background: transparent;
     padding: 4px 0px 0px 0px;
     color: #b7b7b7;
     font-size: 17px;
}

.header_bo {
     background-color: #a77880;
     width: 100%;
     height: 70px;
}


/*-- navigation--*/
.navigation.navbar {
     float: left;
     padding: 0;
}

.navigation.navbar-dark .navbar-nav .nav-link {
     padding: 25px 22px;
     font-weight: 600;
     margin: 0 8px;
     color: #ffffff;
     font-size: 17px;
     line-height: 20px;
     text-transform: uppercase;
}

.navigation.navbar-dark .navbar-nav .nav-link:focus,
.navigation.navbar-dark .navbar-nav .nav-link:hover {
     color: #ffffff;
     background-color: #ffb8b5;
}

.navigation.navbar-dark .navbar-nav .active>.nav-link,
.navigation.navbar-dark .navbar-nav .nav-link.active,
.navigation.navbar-dark .navbar-nav .nav-link.show,
.navigation.navbar-dark .navbar-nav .show>.nav-link {
     color: #ffffff;
     background-color: #ffb8b5;
}

.navbar-expand-md .navbar-nav {
     padding-right: 10px;
}

ul.sign {
     padding: 13px 0;
}

ul.sign li a {
     color: #fff;
     font-size: 20px;
}

ul.sign li a i {
     float: left;
     padding-top: 12px;
}

.sign_btn {
     float: right;
     max-width: 161px;
     background: #ffb8b5;
     font-size: 17px !important;
     width: 100%;
     text-align: center;
     border-radius: 10px;
     padding: 6px 0;
     font-weight: 600;
     text-transform: uppercase;
}

.sign_btn:hover {
     background-color: #000;
}


/** banner section **/
/*alterei a cor do background e retirei a imagem de background*/
.banner_main {
     padding: 10px 0 0px 0;
     background-size: 100% 100%;
     background: linear-gradient(to right, #fff, #deddd8,#dddcd8,#d8b3ba,#ffb8b5, #f47879);
}

.text-bg {
     text-align: center;
     padding-top: 150px;
}

.text-bg p {
     line-height: 28px;
     padding-bottom: 70px;
     display: block;
     color: #fff;
     font-size: 17px;
}

.text-bg a {
     font-size: 28px;
     color: #fff;
     font-weight: 600;
     text-align: left;
     display: inline-block;
     transition: ease-in all 0.5s;
     position: relative;
     line-height: 1px;
     font-family: "Varela Round";
}

.text-bg a::before {
     position: absolute;
     content: "";
     top: 3px;
     border-right: #a77880 solid 1px;
     border-width: 90px;
     height: 1px;
     right: -111px;
}

.text-bg a:hover {
     color: #fff;
     transition: ease-in all 0.5s;
}
/** end banner section **/
/** portfolio section **/
.portfolio {
     padding-top: 20px;
}

.portfolio .titlepage {
     text-align: left;
     padding-bottom: 10px;
}

.portfolio .titlepage span {
     font-weight: 600;
}

.portfolio .titlepage p {
     padding-top: 15px;
}

.portfolio .portfolio_Carousel .carousel-caption {
     position: inherit;
     padding: 0;
}

.portfolio_box {
     text-align: center;
     position: relative;
}

.portfolio_img {
     margin-bottom: 30px;
     width: 420px;
     height: 250px;
}

.middle:hover {
     opacity: 1;
     z-index: 9999;
}

/*sombreado com saiba mais nas fotos do portfolio*/
.middle {
     z-index: 9999;
     transition: .5s ease;
     opacity: 0;
     position: absolute;
     top: 43%;
     left: 50%;
     transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     text-align: center;
     background-color: #f47879;
     width: 90%;
     height: 95%;
     border-radius: 2%;
}


/*texto do sombreado nas fotos do portfolio*/
.text2 {
     background-color: transparent;
     color: white;
     font-size: 17px;
     padding: 2px 0px;
     width: 144px;
     margin-top: 40% !important;
     display: block;
     margin: 0 auto;
     border: #fff solid 2px;
     border-radius: 5px;
}

.portfolio_Carousel .carousel-indicators {
     display: none;
}

#myCarousel a.carousel-control-prev {
     position: absolute;
     left: 20px;
}

#myCarousel a.carousel-control-next {
     right: 20px;
     position: absolute;
}

#myCarousel .carousel-control-next,
#myCarousel .carousel-control-prev {
     width: 60px;
     height: 60px;
     background: #ffb8b5;
     opacity: 1;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #fff;
     top: 42%;
     border-radius: 30px;
}

#myCarousel .carousel-control-prev:hover,
#myCarousel .carousel-control-next:hover,
#myCarousel .carousel-control-prev:focus,
#myCarousel .carousel-control-next:focus {
     background: #a77880;
     color: #fff;
}

.portfolio .read_more {
     color: #a77880 !important;
     margin: 0 auto;
     max-width: 140px;
     width: 100%;
     display: block;
     display: table;
     margin-top: 40px;
}

.portfolio .read_more::before {
     border-right: #a77880 solid 1px;
     border-right-width: 1px;
     border-width: 90px;
}
/** end portfolio section **/
/** contact  section **/
.contact {
     padding-top: 80px;
     padding-bottom: 100px;
     background: #fff;
     background-color: #a77880;
     background-image: url('../images/background-pink.jpg');
     background-repeat: no-repeat;
     background-size: 100%;
     width: 100%;
     height: 100%;
}

.contact .titlepage {
     text-align: center;
}

.titulo-orcamento{
     color: #fff;
     font-size: 60px;
}

.contact_form .contact_control {
     margin-bottom: 20px;
     width: 100%;
     height: 55px;
     background: transparent;
     color: #fff;
     font-size: 25px;
     font-weight: normal;
     border-bottom: #a77880 solid 1px !important;
     border: inherit;
}

.contact_form .textarea {
     margin-bottom: 20px;
     width: 100%;
     background: transparent;
     color: #fff;
     font-size: 25px;
     font-weight: normal;
     padding-top: 10px;
     height: 150px;
     border-bottom: #a77880 solid 1px !important;
     border: inherit;
}

.contact_form .send_btn {
     font-size: 20px;
     transition: ease-in all 0.5s;
     background-color: #f47879;
     text-transform: uppercase;
     color: #fffefe;
     padding: 15px 0px;
     border-radius: 40px;
     max-width: 217px;
     width: 100%;
     display: block;
     margin-top: 30px !important;
     font-weight: 600;
     margin: 0 auto;
}

.contact_form .send_btn:hover {
     background-color: #a77880;
     transition: ease-in all 0.5s;
     color: #fff;
}

#post_form *::placeholder {
     color: #f47879;
     font-weight: bold;
     opacity: 1;
}
/** end contact  section **/

/** footer **/
.footer {
     text-align: center;
     padding-top: 80px;
     padding-bottom: 100px;
     background: #fff;
     background-color: #a77880;
     font-size: 20px;
     width: 100%;
     height: 100%;
}

.logo2 {
     float: left;
}

.footer h3 {
     color: #fff;
     font-weight: 600;
     font-size: 20px;
     line-height: 30px;
     text-align: left;
     margin-bottom: 19px;
     margin-top: 20px;
}

ul.location_icon {
     padding-top: 12px;
}

ul.location_icon li {
     font-size: 18px;
     line-height: 30px;
     color: #fff;
     text-align: left;
     padding-bottom: 26px;
     float: left;
     padding-right: 13px;
}

ul.location_icon li a i {
     display: block;
}

ul.location_icon li a {
     font-size: 25px;
     color: #fff;
     line-height: 35px;
}

ul.location_icon li a:hover {
     color: #a77880;
}

ul.social_icon {
     float: left;
}

ul.social_icon li {
     float: left;
     height: 60px;
     padding-right: 13px;
}

ul.social_icon li:last-child {
     padding-right: 0px;
}

ul.social_icon li a {
     color: #a77880;
     width: 40px;
     height: 40px;
     background: #fff;
     float: left;
     text-align: center;
     line-height: 40px;
     border-radius: 100%;
     font-size: 22px;
}

ul.social_icon li a:hover {
     background: #a77880;
     color: #fff;
}

ul.link_icon li {
     display: flex;
     margin-bottom: 12px;
     flex-wrap: wrap;
}

ul.link_icon li.active a {
     color: #acaba9;
}

ul.link_icon li a {
     color: #fff;
     float: left;
     text-align: left;
     line-height: 20px;
     font-size: 17px;
}

ul.link_icon li a:hover {
     color: #acaba9;
}

ul.img_icon {
     float: left;
}

ul.img_icon li {
     display: block;
     padding-bottom: 10px;
     float: left;
     padding-right: 10px;
}

.main_form .news {
     padding: 0px 15px;
     margin-bottom: 20px;
     width: 100%;
     height: 40px;
     background: #fbf5f5;
     color: #a09f9b;
     font-size: 16px;
     font-weight: normal;
     border: #fbf5f5 solid 1px;
     border-radius: 10px;
}

.main_form .send_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     background-color: #efd818;
     text-transform: uppercase;
     color: #fff;
     padding: 9px 0px;
     max-width: 160px;
     width: 100%;
     display: block;
     border-radius: 10px;
     font-weight: 600;
}

.main_form .send_btn:hover {
     background-color: #000;
     transition: ease-in all 0.5s;
     color: #fff;
}

#request *::placeholder {
     color: #a09f9b;
     opacity: 1;
}

.copyright {
     background-color: #fff;
     margin-top: 70px;
     padding: 20px 0px;
}
/** end footer **/

/*pagina protese*/
.protese {
     padding-top: 60px;
     background-color: #fbfaf6;
}

.protese .titlepage {
     text-align: left;
     padding-bottom: 20px;
}

.protese_img {
     padding-right: 20px;
     margin-bottom: 40px;
}

.protese_img figure {
     margin: 0;
}

.protese_img figure img {
     width: 100%;
}

.protese_box {
     text-align: left;
     max-width: 668px;
     width: 100%;
     float: right;
}

.protese_box h2 {
     padding: 0;
     line-height: 30px;
     text-transform: uppercase;
}

.protese_box span {
     line-height: 30px;
     padding-top: 10px;
     text-transform: uppercase;
     display: block;
}

/*resina*/
.resina {
     padding-top: 60px;
     background-color: #fbfaf6;
}

.resina_box {
     text-align: left;
     max-width: 668px;
     width: 100%;
     float: right;
}

.resina .titlepage {
     text-align: left;
     padding-bottom: 20px;
}

.resina_box h2 {
     padding: 0;
     line-height: 30px;
     text-transform: uppercase;
}

.resina_box span {
     line-height: 30px;
     padding-top: 10px;
     text-transform: uppercase;
     display: block;
}

.resina_img {
     padding-right: 20px;
     margin-bottom: 40px;
}

.resina_img figure {
     margin: 0;
}

.resina_img figure img {
     width: 100%;
}

/*botox*/
.botox {
     padding-top: 60px;
     background-color: #fbfaf6;
}

.botox_box {
     text-align: left;
     max-width: 668px;
     width: 100%;
     float: right;
}

.botox .titlepage {
     text-align: left;
     padding-bottom: 20px;
}

.botox_box h2 {
     padding: 0;
     line-height: 30px;
     text-transform: uppercase;
}

.botox_box span {
     line-height: 30px;
     padding-top: 10px;
     text-transform: uppercase;
     display: block;
}

.botox_img {
     padding-right: 20px;
     margin-bottom: 40px;
}

.botox_img figure {
     margin: 0;
}

.botox_img figure img {
     width: 100%;
}

/*placa*/
.placa {
     padding-top: 60px;
     background-color: #fbfaf6;
}

.placa_box {
     text-align: left;
     max-width: 668px;
     width: 100%;
     float: right;
}

.placa .titlepage {
     text-align: left;
     padding-bottom: 20px;
}

.placa_box h2 {
     margin-top: 20px;
     line-height: 30px;
     text-transform: uppercase;
}

.placa_box p {
     margin-top: 5px;
     margin-bottom: 15px;
     font-weight: bold;
     font-size: large;
     line-height: 24px;
     color: #f47879;
}

.placa_img {
     padding-right: 20px;
     margin-bottom: 40px;
     margin-top: 10px;
}

.placa_img figure {
     margin: 0;
}

.placa_img figure img {
     width: 100%;
}

/*preenchimento*/
.preenchimento {
     padding-top: 60px;
     background-color: #fbfaf6;
}

.preenchimento_box {
     text-align: left;
     max-width: 668px;
     width: 100%;
     float: right;
}

.preenchimento.titlepage {
     text-align: left;
     padding-bottom: 20px;
}

.preenchimento_box h2 {
     margin-top: 80px;
     line-height: 30px;
     text-transform: uppercase;
}

.preenchimento_box p {
     margin-top: 5px;
     margin-bottom: 15px;
     font-weight: bold;
     font-size: large;
     line-height: 24px;
     color: #f47879;
}

.preenchimento_img {
     padding-right: 20px;
     margin-bottom: 40px;
     margin-top: 10px;
}

.preenchimento_img figure {
     margin: 0;
}

.preenchimento_img figure img {
     width: 100%;
}

/*gengivoplastia*/
.gengivoplastia {
     padding-top: 60px;
     background-color: #fbfaf6;
}

.gengivoplastia_box {
     text-align: left;
     max-width: 668px;
     width: 100%;
     float: right;
}

.gengivoplastia.titlepage {
     text-align: left;
     padding-bottom: 20px;
}

.gengivoplastia_box h2 {
     margin-top: 150px;
     line-height: 30px;
     text-transform: uppercase;
}

.gengivoplastia_img {
     padding-right: 20px;
     margin-bottom: 40px;
     margin-top: 10px;
}

.gengivoplastia_img figure {
     margin: 0;
}

.gengivoplastia_img figure img {
     width: 100%;
}

/*piercing*/
.piercing {
     padding-top: 60px;
     background-color: #fbfaf6;
}

.piercing_box {
     text-align: left;
     max-width: 668px;
     width: 100%;
     float: right;
}

.piercing.titlepage {
     text-align: left;
     padding-bottom: 20px;
}

.piercing_box h2 {
     margin-top: 150px;
     line-height: 30px;
     text-transform: uppercase;
}

.piercing_img {
     padding-right: 20px;
     margin-bottom: 40px;
     margin-top: 10px;
}

.piercing_img figure {
     margin: 0;
}

.piercing_img figure img {
     width: 100%;
}

/*peeling*/
.peeling {
     padding-top: 60px;
     background-color: #fbfaf6;
}

.peeling_box {
     text-align: left;
     max-width: 668px;
     width: 100%;
     float: right;
}

.peeling.titlepage {
     text-align: left;
     padding-bottom: 20px;
}

.peeling_box h2 {
     margin-top: 170px;
     line-height: 30px;
     text-transform: uppercase;
}

.peeling p{
     margin-top: 20px;
     color: #a77880;
}

.peeling_img {
     padding-right: 20px;
     margin-bottom: 40px;
     margin-top: 10px;
}

.peeling_img figure {
     margin: 0;
}

.peeling_img figure img {
     width: 100%;
}